
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>π‘¨β€π’Όπ‘¨β€π’Όπ‘¨β€π’Ό<a style="color: white;" href="https://www.linkedin.com/in/marko-mijovic-2831ba137/">Find me on LinkedIn</a>π‘¨β€π’Όπ‘¨β€π’Όπ‘¨β€π’Ό</p>
  </div>
</div>
</body>
</html>
