.container-fluid {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 10px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #c51d85 !important;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #c51d85;
}

.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}

.btn-form-grp {
    margin-top: 1%;
}
